<section class="authorization" id="authorization">
	<div class="wrapper d-flex flex-column align-items-center">
		<form action="/autorization/check" method="POST" class="mt-4" style="width:320px">
			<h1 class="text-center mt-4 fw-bold">SIGN IN</h1>
			<div class="text-danger fs-6 mb-1" id="auth_error_name" style="height:18px"></div>
			<div class="d-flex justify-content-between">
				<label for="auth_name" class="label">Name:</label>
				<input type="text" name="auth_name" id="auth_name" autofocus>
			</div>
			<div class="text-danger fs-6 mb-1" id="auth_error_email" style="height:18px"></div>
			<div class="d-flex justify-content-between">
				<label for="auth_email" class="label">Email:</label>
				<input type="text" name="auth_email" id="auth_email" autofocus>
			</div>
			<div class="text-danger fs-6 mb-1" id="auth_error_password" style="height:18px"></div>
			<div class="d-flex justify-content-between">
				<label for="auth_password" class="label">Password:</label>
				<input type="password" name="auth_password" id="auth_password">
			</div>
			<input value="Sign in" type="submit" class="btn btn-primary mt-4 w-100" id="auth_submit" disabled>
		</form>
		<div class="p-3 bg-info bg-opacity-10 border border-info rounded-end rounded-start text-center mt-5">
			<h2 class="fw-semibold">Fake users</h2>
			<p>John/user1@test.com/1234567890</p>
			<p>Jane/user2@test.com/1234567890</p>
		</div>
	</div>
</section>
