<section class="if_autorized">
    <div class="wrapper">
        <h1 class="mt-3">Welcome <span class="text-primary">{{ results[0]['name'] }}</span>!!!YOU are autorized!!!</h1>
        <a href="/auntification/logout" class="btn btn-success">LogOut</a>
    </div>
</section>



